.category-add-success{

    border: 2px solid green;

}

#taskMessage{
    position: absolute;

    top: 89px;

    left: 424px;

    width: 43%;


    display: none;
    z-index: 4;
}
.updatedCat_success, .deleteCat_success{
    position: absolute;

    top: 127px;

    left: 464px;

    z-index: 1;
    border: 1px solid gray;
}

.custom_msg{
    position: absolute;
    top: 210px;
    z-index: 2;
    height: 84px;
    font-size: 40px;
    left: 430px;
}